/* #Font
================================================== */
@font-face {
  font-family: "almoni";
  font-weight: 300;
  src: url("../font/almoni-dl-aaa-300.woff");
}

@font-face {
  font-family: "almoni";
  font-weight: 400;
  src: url("../font/almoni-dl-aaa-400.woff");
}

@font-face {
  font-family: "almoni";
  font-weight: 700;
  src: url("../font/almoni-dl-aaa-700.woff");
}

body {
  font-family: "almoni", sans-serif;
  letter-spacing: 0;
}

.f-mont {
  font-family: 'Montserrat', sans-serif!important;
}

.text-green {
  color: #0BFAC8;
}

.text-red {
  color: #FF0000;
}

.text-gray {
  color: #CBCBCB;
}

/* #Btn & Link
================================================== */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.15vw;
  font-weight: bold;
  height: 2.6vw;
  padding: 0 3.125vw;
  transition: all 0.4s ease;
  border: 1px solid transparent;
}

.btn-primary {
  color: black;
  background-image: linear-gradient(to bottom, #52D8E4 0%, #03FDC5 51%, #52D8E4 100%);
  border-radius: 500px;
  background-size: auto 200%;
}

.btn-primary:hover {
  background-position: bottom center;
}

.btn-secondary {
  color: black;
  background-color: white;
  border-radius: 500px;
}

.btn-tertiary {
  color: black;
  background-color: white;
  border-radius: 500px;
  border: 1px solid #0BE6B8;
}

.link {
  font-size: 1.15vw;
  padding-bottom: .15vw;
  font-weight: bold;
  position: relative;
}

.link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #03FDC5;
  transform: scaleX(0);
  transition: transform 0.4s ease;
}

.link:hover::before {
  transform: scaleX(1);
}

.link.link-white {
  color: white;
}

.link.link-white::before {
  background-color: white;
}

@media (max-width: 1023.98px) {
  .btn {
    font-size: 4.8vw;
    height: 10.66vw;
    padding: 0 14.86vw;
  }

  .link {
    font-size: 4.26vw;
    padding-bottom: .5vw;
  }
}

/* #Header
================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 10000;
  background-color: transparent;
  transition: background-color .4s ease;
}

.header.header-purple {
  background-color: #2c0f5b;
  color: white!important;
}

.header .container {
  display: flex;
  align-items: flex-end;
  padding: 0 2.35vw 0 3.6vw;
}

.header-logo {
  margin-right: auto;
}

.header-logo img {
  width: 8.22vw;
}

.header-action {
  display: flex;
  align-items: center;
  margin-bottom: 1vw;
}

.header-action a {
  margin-left: 1.8vw;
}

.header-action img {
  width: 1.8vw;
}

.header-links ul {
  display: flex;
}

.header-links a {
  display: inline-flex;
  padding: 2vw 1vw 1.3vw 1vw;
  position: relative;
}

.header-links a:not(.header-btn)::before {
  content: "";
  position: absolute;
  display: block;
  width: 70%;
  height: 2px;
  bottom: 1vw;
  left: 15%;
  background-color: #03FDC5;
  transform: scaleX(0);
  transition: transform 0.4s ease;
}

.header-links a:not(.header-btn):hover::before {
  transform: scaleX(1);
}

.header-links a:not(.header-btn)::after {
  content: '.';
  position: absolute;
  left: 0;
}

.header-links li:last-child a::after {
  display: none;
}

.header-links a.header-btn {
  background-color: #0BFAC8;
  color: #2F317E;
  padding: 2vw 1.5vw 1.3vw 1.5vw;
  border-bottom-left-radius: .5vw;
  border-bottom-right-radius: .5vw;

  position: relative;
  overflow: hidden;
}

.header-links a.header-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  transition: all .5s ease;
  top: 100%;
  left: 0;
}

.header-links a.header-btn:hover::before {
  top: 0;
}

.header-links a.header-btn span {
  position: relative;
  z-index: 1;
  transition: all .5s ease;
}

@media (max-width: 1023.98px) {
  .header .container {
    padding: 0 0 0 5.33vw;
    align-items: center;
    justify-content: space-between;
  }

  .header-links {
    display: none;
  }
  
  .header-action {
    order: 1;
    margin-bottom: 0;
  }
  
  .header-action a {
    margin-left: 0;
  }
  
  .header-action a:not(:last-child) {
    margin-left: 6.666666vw;
  }
  
  .header-action img {
    width: 6.4vw;
  }

  .header-logo {
    margin-right: 0;
  }
  
  .header-logo img {
    width: 34.66vw;
  }

  .header-hamburger img {
    width: 17.33vw;
  }
}

/* #Footer
================================================== */
.footer {
  background-color: #2c0f5b;
  border-top: 1px solid white;
  color: white;
  padding: 4.16vw 0 6.5vw 0; 
}

.footer .container {
  width: 73%;
}

.footer .top {
  display: flex;
  justify-content: space-between;
}

.footer-logo img {
  width: 12.34vw;
}

.footer .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.16vw;
}

@media (min-width: 1024px) {
  .footer .collapse {
    height: auto!important;
  }

  .footer .accordion {
    display: flex;
  }

  .footer .collapsible:not(:last-child) {
    margin-left: 4.16vw;
  }
}

@media (max-width: 1023.98px) {
  .footer {
    border-top: none;
    padding: 0 0 10vw 0; 
  }
  
  .footer .container {
    width: 88%;
  }

  .footer .top {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  
  .footer-logo img {
    width: 47.33vw;
    margin-bottom: 2vw;
  }
  
  .footer .bottom {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
  }

  .footer .bottom p:first-child {
    margin-top: 5.33vw;
  }

  .footer-links {
    width: 100%;
    text-align: center;
  }

  .footer .collapse-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw 0;
  }

  .footer .collapsible {
    border-bottom: 1px solid rgba(255, 255, 255, 0.432);
  }

  .footer .simbol {
    margin-right: 1vw;
  }

  .footer .collapse > div {
    padding-bottom: 5vw;
  }
}

/* #Banner
================================================== */
.banner {
  position: relative;
  color: white;
  overflow: hidden;
}

.banner .container {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

.banner .bg,
.banner .bg img,
.banner .bg picture {
  width: 100%;
}

.banner .img {
  flex: 0 0 54.16vw;
}

.banner .text {
  flex: 0 0 35.67vw;
  padding-left: 1.5vw;
}

.banner h1 {
  line-height: 1;
  margin-bottom: 1vw;
}

.banner-logo img {
  width: 15.4vw;
}

.banner .text .btn {
  margin-top: 3.9vw;
}

.banner .scroll {
  position: absolute;
  bottom: 2.65vw;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
  display: flex;
  align-items: center;
}

.banner .scroll .line {
  height: 2px;
  width: 3.125vw;
  background-color: #0BFAC8;
  margin-right: 1vw;
}

/* Home specific banner */
.home-banner .img {
  height: 34.8vw;
  position: relative;
}

.home-banner .img-1 {
  position: absolute;
  top: 6.25vw;
  right: 2vw;
}
.home-banner .img-1 img {
  width: 45.26vw;
}

.home-banner .img-2 {
  position: absolute;
  top: 0;
  right: 0;
}
.home-banner .img-2 img {
  width: 25.5vw;
}

.home-banner .img-3 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.home-banner .img-3 img {
  width: 18.6vw;
}

.home-banner .img-4 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.home-banner .img-4 img {
  width: 9.5vw;
}

/* Capabilities Banner */
.capabilities-banner .text {
  margin-right: 6vw;
}

.capabilities-banner .text picture,
.capabilities-banner .text picture img {
  width: 28.5vw;
  margin-bottom: 1vw;
}

@media (max-width: 1023.98px) {
  .banner .container {
    top: 50%;
    flex-direction: column;
  }
  
  .banner .img {
    flex: 0 0 auto;
    width: 100%;
  }
  
  .banner .text {
    flex: 0;
    width: 100%;
    padding-left: 0;
    text-align: center;
    margin-bottom: 8vw;
  }
  
  .banner h1 {
    margin-bottom: 4vw;
  }
  
  .banner .text .btn {
    margin-top: 6.66666vw;
  }

  .banner .scroll {
    bottom: 10.65vw;
    transform: translateX(-50%) rotate(-90deg);
  }
  
  .banner .scroll .line {
    width: 13.3vw;
    margin-right: 3.33vw;
  }

  /* Home specific banner */
  .home-banner .img {
    height: 63vw;
  }

  .home-banner .img-1 {
    top: 13.33vw;
    right: 8.8vw;
  }
  .home-banner .img-1 img {
    width: 67.73vw;
  }

  .home-banner .img-2 {
    right: auto;
    left: 0;
  }
  .home-banner .img-2 img {
    width: 42.6vw;
  }

  .home-banner .img-3 {
    bottom: 0;
    right: 0;
  }
  .home-banner .img-3 img {
    width: 42.6vw;
  }

  .home-banner .img-4 {
    bottom: 0;
    left: 4vw;
  }
  .home-banner .img-4 img {
    width: 18vw;
  }

  /* Capabilities Banner */
  .capabilities-banner .text {
    margin-right: 0;
  }

  .capabilities-banner .text picture,
  .capabilities-banner .text picture img {
    width: 72.93vw;
    margin: 0 auto;
    margin-bottom: 3.33vw;
  }

  .capabilities-banner .container {
    top: 31%;
  }
}

/* #Home Contact
================================================== */
.home-contact {
  position: relative;
}

.home-contact .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 50%;
}

.home-contact form {
  text-align: right;
  margin: 3.125vw 0 2.8vw 0;
}

.home-contact .row {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.home-contact .col {
  flex: 0 0 47%;
  overflow: hidden;
}

.home-contact .row:not(:last-child) {
  margin-bottom: 2vw;
}

.home-contact input,
.home-contact input::placeholder {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  width: 100%;
  padding-bottom: .5vw;
}

.home-contact ul {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
}

.home-contact ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
}

.home-contact ul li:not(:last-child) {
  margin-left: 5.2vw;
}

.home-contact ul img {
  height: 2.4vw;
  margin-bottom: .75vw;
}

.home-contact .bg,
.home-contact .bg img,
.home-contact .bg picture {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .home-contact .container {
    width: 90%;
  }
  
  .home-contact form {
    margin: 8vw 0 10vw 0;
  }
  
  .home-contact .row {
    display: block;
  }
  
  .home-contact .col {
    flex: 0 0 47%;
  }

  .home-contact .row .col:not(:last-child), 
  .home-contact .row:not(:last-child) {
    margin-bottom: 6.66vw;
  }
  
  .home-contact input,
  .home-contact input::placeholder {
    padding-bottom: 1.33vw;
  }
  
  .home-contact ul {
    margin-top: 6.66vw;
  }
  
  .home-contact ul li:not(:last-child) {
    margin-left: 6.66vw;
  }
  
  .home-contact ul img {
    height: 7.73vw;
    margin-bottom: 1vw;
  }
}

/* #Home Action
================================================== */
.home-action {
  position: relative;
}

.home-action .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.home-action .container img {
  width: 42.7vw;
  margin-bottom: 1vw;
}

.home-action p {
  margin-bottom: 3.125vw;
}

.home-action .bg,
.home-action .bg img,
.home-action .bg picture {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .home-action .container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .home-action .container img {
    width: 100%;
    margin-bottom: 3.33vw;
  }
  
  .home-action p {
    margin-bottom: 6.66vw;
  }
}

/* #Home Reviews
================================================== */
.home-reviews {
  position: relative;
  overflow: hidden;
}

.home-reviews .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.home-reviews .swiper {
  overflow: visible;
}

.home-reviews .swiper-slide {
  padding: 0 1.5vw;
  position: relative;
  cursor: grab;
}

.home-reviews .swiper-slide > div {
  background-color: white;
  box-shadow: 0 12px 24px rgba(0, 0, 0, .06);
  padding: 4.5vw 1.8vw 3.125vw 1.8vw;
  text-align: center;
}

.home-reviews .quottes {
  position: absolute;
  top: -1.8vw;
  left: 50%;
  transform: translateX(-50%);
}

.home-reviews .quottes img {
  width: 4.27vw;
  margin: 0 auto;
}

.home-reviews .logo img {
  width: 8vw;
  margin: 0 auto;
}

.home-reviews h3 {
  margin-top: 1.3vw;
  margin-bottom: .5vw;
}

.home-reviews .text {
  width: 30%;
  margin: 0 auto 6vw auto;
  text-align: center;
}

.home-reviews .text p {
  margin: .75vw 0 2.35vw 0;
}

.home-reviews .swiper-pagination {
  bottom: -3.5vw;
}

.home-reviews .swiper-pagination-bullet-active {
  background: #0BFAC8;
}

.home-reviews .bg,
.home-reviews .bg img,
.home-reviews .bg picture {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .home-reviews .container {
    top: 47%;
  }

  .home-reviews .swiper {
    padding-right: 2vw;
  }

  .home-reviews .swiper-slide {
    padding: 0 2vw;
  }
  
  .home-reviews .swiper-slide > div {
    padding: 14.93vw 6vw 8.4vw 6vw;
  }
  
  .home-reviews .quottes {
    top: -6.66666vw;
  }
  
  .home-reviews .quottes img {
    width: 14.8vw;
  }
  
  .home-reviews .logo img {
    width: 28.13vw;
  }
  
  .home-reviews h3 {
    margin-top: 5vw;
    margin-bottom: 2vw;
  }
  
  .home-reviews .text {
    width: 90%;
    margin: 0 auto 15vw auto;
  }
  
  .home-reviews .swiper-pagination {
    bottom: -10vw;
  }
}

/* #Homepage Purple BG
================================================== */
.home-page .purple-bg {
  background-image: linear-gradient(to bottom right, #3B1974, #230A4C);
}

/* #Home Portfolio
================================================== */
.home-portfolio {
  text-align: center;
  padding: 1.3vw 0 7.3vw 0;
}

.home-portfolio .title {
  margin-bottom: 6vw;
}

.home-portfolio .title img {
  width: 40%;
  margin: 0 auto;
}

.home-portfolio .btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 9.6vw;
}

.home-portfolio .btns .btn {
  margin-bottom: 1.3vw;
}

.home-portfolio .portfolio ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-portfolio .portfolio ul li {
  flex: 0 0 32.6%;
  margin-bottom: 1vw;
  position: relative;
}

.home-portfolio .portfolio img {
  width: 100%;
  box-shadow: 0 24px 48px rgba(0, 0, 0, .3);
}

.home-portfolio .portfolio .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-portfolio .portfolio li:hover .overlay {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1023.98px) {
  .home-portfolio {
    padding: 10vw 0 13.33vw 0;
  }
  
  .home-portfolio .title {
    margin-bottom: 10vw;
  }
  
  .home-portfolio .title img {
    width: 90%;
  }
  
  .home-portfolio .btns {
    margin-top: 17.66666vw;
  }
  
  .home-portfolio .btns .btn {
    margin-bottom: 6.66vw;
  }
  
  .home-portfolio .portfolio ul li {
    flex: 0 0 48.6%;
    margin-bottom: 2.66vw;
  }

  .home-portfolio .portfolio ul li:nth-child(even) {
    transform: translateY(6.6666vw);
  }

  .home-portfolio .portfolio .btn {
    height: 7.66vw;
    padding: 0 4.86vw;
  }
}

/* #Home Steps
================================================== */
.home-steps {
  position: relative;
  color: white;
}

.home-steps .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}

.home-steps .btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4.16vw;
}

.home-steps .btns .btn {
  margin-bottom: 1.3vw;
}

.home-steps .title img {
  width: 25.45vw;
  margin: 0 auto 1vw auto;
}

.home-steps h2 {
  text-align: center;
}

.home-steps .steps {
  display: flex;
  justify-content: center;
  margin-top: 4.16vw;
}

.home-steps .step {
  width: 19.32vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.16);
  margin: 0 1vw;
  padding: 2.8vw 1.3vw 4.16vw 1.3vw;
  position: relative;
}

.home-steps .step:not(:last-child)::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 7.55vw;
  background-color: white;
  top: 5.7vw;
  left: -1vw;
  transform: translateX(-50%);
}

.home-steps .step p {
  line-height: 1.15;
}

.home-steps .step p.num {
  line-height: 1.2;
  margin-bottom: .75vw;
}

.home-steps .bg,
.home-steps .bg img,
.home-steps .bg picture {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .home-steps .btns {
    margin-top: 11vw;
  }
  
  .home-steps .btns .btn {
    margin-bottom: 6.66666vw;
  }
  
  .home-steps .title img {
    width: 82%;
    margin: 0 auto 2vw auto;
  }
  
  .home-steps .steps {
    margin-top: 10vw;
    display: block;
    padding: 0 8.5%;
  }
  
  .home-steps .step {
    width: 100%;
    margin: 0;
    padding: 4.66vw 6vw 4.66vw 3vw;
    display: flex;
    flex-direction: row;
    text-align: right;
  }

  .home-steps .step .num {
    margin-left: 6vw;
    flex: 0 0 18vw;
  }

  .home-steps .step:not(:last-child) {
    margin-bottom: 6.666666vw;
  }
  
  .home-steps .step:not(:last-child)::after {
    height: 12.8vw;
    width: 2px;
    top:auto;
    bottom: -2.66vw;
    left: auto;
    right: 13.5vw;
    transform: translateY(50%);
  }
  
  .home-steps .step p.num {
    margin-bottom: 0;
  }
}

/* #Home Services
================================================== */
.home-services {
  position: relative;
}

.home-services .container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 4.68vw;
}

.home-services .swiper {
  overflow: visible;
}

.home-services .swiper-slide {
  padding: 0 1vw;
  height: auto;
  display: flex;
}

.home-services .swiper-slide:nth-child(1) {
  padding-right: 0;
}

.home-services .swiper-slide:nth-child(1) {width: 32vw;}
.home-services .swiper-slide:nth-child(2) {width: 11.47vw;}
.home-services .swiper-slide:nth-child(3) {width: 47.2vw;}
.home-services .swiper-slide:nth-child(4) {width: 32vw;}

.home-services .swiper-slide img {
  width: 100%;
  margin-top: auto;
  box-shadow: 0 24px 48px rgba(0, 0, 0, .3);
}

.home-services .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5.2vw;
  padding: 0 11.2vw;
}

.home-services .text img {
  width: 26.45vw;
  margin-bottom: 3.125vw;
}

.home-services .img {
  flex: 0 0 36.5vw;
}

.home-services .img ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -3.65vw;
}

.home-services .img ul li {
  flex: 0 0 26%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  line-height: 1.1;
  margin-bottom: 3.65vw;
}

.home-services .img img {
  width: 4.4vw;
  height: 3.125vw;
  object-fit: contain;
  object-position: center;
  margin-bottom: .25vw;
}

.home-services .img a {
  margin-top: auto;
}

.home-services .img a img {
  width: 1.3vw;
  height: auto;
  margin-top: 1vw;
}

.home-services .btns .btn {
  margin-left: 2.6vw;
}

.home-services .bg,
.home-services .bg img,
.home-services .bg picture {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .home-services .container {
    padding-top: 20vw;
    height: 100%;
  }
  
  .home-services .swiper-slide {
    padding: 0 1.33vw;
  }
  
  .home-services .swiper-slide:nth-child(1) {
    padding-right: 0;
  }
  
  .home-services .swiper-slide:nth-child(1) {width: 57.6vw;}
  .home-services .swiper-slide:nth-child(2) {width: 15.4vw;}
  .home-services .swiper-slide:nth-child(3) {width: 67.73vw;}
  .home-services .swiper-slide:nth-child(4) {width: 57.6vw;}
  
  .home-services .row {
    display: block;
    margin-top: 13.33vw;
    padding: 0 5%;
  }
  
  .home-services .text img {
    width: 75.6vw;
    margin-bottom: 6.666666vw;
    margin-right: 5vw;
  }
  
  .home-services .img ul {
    margin-bottom: -3.65vw;
  }
  
  .home-services .img ul li {
    flex: 0 0 45%;
    margin-bottom: 6.66666vw;
  }
  
  .home-services .img img {
    width: 14vw;
    height: 10vw;
    margin-bottom: 2vw;
  }
  
  .home-services .img a img {
    width: 4.66vw;
    margin-top: 2vw;
  }

  .home-services .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 13.33vw;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .home-services .btns .btn {
    margin-left: 0;
    margin-bottom: 6.6666vw;
  }
}

/* #Blog
================================================== */
.blog {
  background-image: url('../img/blog/bg.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #F1F4F5;
  padding: 7vw 0 3.125vw 0;
}

.blog .container {
  width: 82%;
}

.blog h1 {
  text-align: center;
  margin-bottom: 1.5vw;
}

/* Tab Navigation */
.blog .tab-navigation {
  margin-bottom: 3.125vw;
}

.blog .tab-navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog .tab-navigation ul li:not(:last-child) {
  margin-left: 2.6vw;
}

.blog .tab-btn {
  border-bottom: 2px solid transparent;
}

.blog .tab-btn.active {
  font-weight: 700;
  border-bottom: 2px solid #0BFAC8;
}

/* Blog Posts */
.blog-posts ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.17vw;
}

.blog-posts ul li {
  flex: 0 0 33.33333%;
  padding: 0 1.17vw;
  margin-bottom: 3.125vw;
}

.blog-post-card > div {
  border-bottom: 2px solid black;
}

.blog-post-card .img img {
  width: 100%;
}

.blog-post-card .text {
  padding: 1.3vw 0;
}

.blog-post-card h2 {
  width: 75%;
  line-height: 1.1;
}

.blog-post-card p {
  margin: .75vw 0 1.5vw 0;
  line-height: 1.44;
}

.blog-post-card a {
  display: flex;
  align-items: center;
}

.blog-post-card a img {
  width: 1.5vw;
  margin-right: 1vw;
}

@media (max-width: 1023.98px) {
  .blog {
    padding: 26.66vw 0 5.33vw 0;
  }
  
  .blog .container {
    width: 90%;
  }
  
  .blog h1 {
    margin-bottom: 6vw;
  }
  
  /* Tab Navigation */
  .blog .tab-navigation {
    margin-bottom: 6vw;
  }
  
  .blog .tab-navigation ul li:not(:last-child) {
    margin-left: 6.66vw;
  }
  
  /* Blog Posts */
  .blog-posts ul {
    display: block;
    margin: 0;
  }
  
  .blog-posts ul li {
    padding: 0;
    margin-bottom: 8vw;
  }
  
  .blog-post-card .text {
    padding: 6.66vw 0 4vw 0;
  }
  
  .blog-post-card h2 {
    width: 100%;
  }
  
  .blog-post-card p {
    margin: 4vw 0 6vw 0;
  }
  
  .blog-post-card a img {
    width: 5vw;
    margin-right: 2.8vw;
  }
}

/* #Blog Post
================================================== */
.blog-post-page {
  background-color: #F1F4F5;
}

.blog-post {
  background-image: url('../img/blog/bg.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 7.44vw;
}

.blog-post .container {
  width: 39%;
  position: relative;
}

.blog-post .heading {
  margin-bottom: 1.5vw;
}

.blog-post .heading h1 {
  line-height: 1.1;
  margin-bottom: .75vw;
}

.blog-post .social {
  position: absolute;
  top: 10.2vw;
  right: 0;
  transform: translateX(120%);
}

.blog-post .social img {
  width: 3.28vw;
}

.blog-post-img {
  width: 100%;
  margin-bottom: 2.34vw;
}

.blog-post-img img {
  width: 100%;
}

.blog-post p {
  margin-bottom: 1.8vw;
}

.blog-post h2 {
  margin: 2.34vw 0 1vw 0;
}

.blog-post .body ul {
  list-style: initial;
  padding-right: 15px;
  margin-bottom: 1.8vw;
}

.blog-post .body ul li:not(:last-child) {
  margin-bottom: .75vw;
}

.blog-post-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.34vw;
  border-top: 1px solid #AAAAAA;
  margin-top: 2.8vw;
}

.blog-post-navigation a {
  display: flex;
  align-items: center;
}

.blog-post-navigation a img {
  width: 1.5vw;
  margin-left: 1vw;
}

.blog-post-navigation a:last-child img {
  margin-left: 0;
  margin-right: 1vw;
}

@media (max-width: 1023.98px) {
  .blog-post {
    padding-top: 26.93vw;
  }
  
  .blog-post .container {
    width: 100%;
  }
  
  .blog-post .heading {
    margin-bottom: 8vw;
    padding: 0 5%;
    position: relative;
  }
  
  .blog-post .heading h1 {
    margin-bottom: 4vw;
  }
  
  .blog-post .social {
    position: absolute;
    bottom: 0;
    left: 5%;
    top: auto;
    right: auto;
    transform: translateY(20%);
  }

  .blog-post .social ul {
    display: flex;
    align-items: center;
  }
  
  .blog-post .social img {
    width: 10vw;
  }
  
  .blog-post-img {
    margin-bottom: 8vw;
  }
  
  .blog-post p {
    margin-bottom: 6.66vw;
  }
  
  .blog-post h2 {
    margin: 3.65vw 0 3.33vw 0;
  }
  
  .blog-post .body ul {
    margin-bottom: 6.66vw;
  }
  
  .blog-post .body ul li:not(:last-child) {
    margin-bottom: 3.33vw;
  }

  .blog-post p,
  .blog-post h2,
  .blog-post .body ul {
    padding: 0 5%;
  }

  .blog-post .body ul {
    padding-right: calc(5% + 15px);
  }
  
  .blog-post-navigation {
    margin: 0 5%;
    padding-top: 5.33vw;
    margin-top: 8vw;
  }
  
  .blog-post-navigation a img {
    width: 5vw;
    margin-left: 2.8vw;
  }
  
  .blog-post-navigation a:last-child img {
    margin-left: 0;
    margin-right: 2.8vw;
  }
}

/* #Blog Post Slider
================================================== */
.blog-post-slider {
  padding: 6.9vw 0;
}

.blog-post-slider .container {
  width: 82%;
}

.blog-post-slider .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5vw;
}

.blog-post-slider .heading a {
  display: flex;
  align-items: center;
}

.blog-post-slider .heading a img {
  width: 1.5vw;
  margin-right: 1vw;
}

.blog-post-slider .swiper {
  margin: 0 -1.17vw;
}

.blog-post-slider .swiper-slide {
  padding: 0 1.17vw;
}

@media (max-width: 1023.98px) {
  .blog-post-slider {
    padding: 17.33vw 0 28.66vw 0;
    position: relative;
  }
  
  .blog-post-slider .container {
    width: 100%;
  }
  
  .blog-post-slider .heading {
    justify-content: center;
    margin-bottom: 6.66vw;
  }
  
  .blog-post-slider .swiper {
    margin: 0;
    padding-right: 1.33vw;
  }
  
  .blog-post-slider .swiper-slide {
    padding: 0 3.33vw;
  }

  .blog-post-slider .heading a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 13.33vw;
  }

  .blog-post-slider .heading a img {
    width: 5vw;
    margin-right: 2.8vw;
  }
}

/* #FAQ Banner
================================================== */
.faq-banner {
  position: relative;
}

.faq-banner .img,
.faq-banner .img img,
.faq-banner .img picture {
  width: 100%;
}

.faq-banner .text {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.faq-banner h1 {
  margin-bottom: 1.3vw;
}

@media (max-width: 1023.98px) {
  .faq-banner .text {
    top: 58%;
    width: 100%;
  }
  
  .faq-banner h1 {
    margin-bottom: 4vw;
  }
}

/* #FAQ
================================================== */
.faq {
  padding-bottom: 5.2vw;
  background-color: #F1F4F5;
}

.faq .container {
  width: 47%;
}

@media (max-width: 1023.98px) {
  .faq {
    padding-bottom: 13.33vw;
  }
  
  .faq .container {
    width: 90%;
  }
}

/* Search */
.faq-search form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.8vw;
  background-color: white;
  border-radius: 500px;
  padding: .75vw 1.5vw;
  box-shadow: 0 6px 24px #1d3bff18;
  transform: translateY(-50%);
}

.faq-search a {
  margin-right: 1.5vw;
}

.faq-search a img {
  width: 1.5vw;
} 

.faq-search input {
  flex-grow: 1;
  color: black;
  border: none;
  background-color: transparent;
}

.faq-search input::placeholder {
  color: #9595A8
}

@media (max-width: 1023.98px) {
  .faq-search form {
    margin-bottom: 4vw;
    padding: 2.93vw 4vw;
  }
  
  .faq-search a {
    margin-right: 4vw;
  }
  
  .faq-search a img {
    width: 5.33vw;
  } 
}

/* Tab Navigation */
.faq .tab-navigation {
  margin-bottom: 3.125vw;
}

.faq .tab-navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq .tab-navigation ul li:not(:last-child) {
  margin-left: 2.6vw;
}

.faq .tab-btn {
  border-bottom: 2px solid transparent;
}

.faq .tab-btn.active {
  font-weight: 700;
  border-bottom: 2px solid #0BFAC8;
}

@media (max-width: 1023.98px) {
  .faq .tab-navigation {
    margin-bottom: 8vw;
  }
  
  .faq .tab-navigation ul li:not(:last-child) {
    margin-left: 6.66vw;
  }
}

/* FAQ Accordion */
.faq .collapsible {
  background-color: white;
  border-radius: .75vw;
  box-shadow: 0 6px 24px #1d3bff11;
  padding-right: .5vw;
  position: relative;
  overflow: hidden;
}

.faq .collapsible::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: .5vw;
  height: 100%;
  background-color: #0BFAC8;
}

.faq .collapsible:not(:last-child) {
  margin-bottom: 1.3vw;
}

.faq .collapse-toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3vw;
}

.faq .plus > div,
.faq .minus > div {
  display: flex;
  align-items: center;
}

.faq .simbol img {
  width: 1.3vw;
  margin-right: 1vw;
}

.faq .collapse > div {
  padding: 0 1.3vw 2vw 1.3vw;
}

@media (max-width: 1023.98px) {
  .faq .collapsible {
    border-radius: 2vw;
    padding-right: 1.33vw;
    padding-bottom: 18.66vw;
  }
  
  .faq .collapsible::after {
    width: 1.33vw;
  }
  
  .faq .collapsible:not(:last-child) {
    margin-bottom: 6vw;
  }
  
  .faq .collapse-toggler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw;
  }

  .faq .simbol {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 18.66vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #E5E5E5;
  }
  
  .faq .plus > div,
  .faq .minus > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #03FDC5;
  }
  
  .faq .simbol img {
    width: 2.5vw;
    margin-right: 2vw;
  }
  
  .faq .collapse > div {
    padding: 0 4vw 4vw 4vw;
  }
}

/* #Blog & Blog Post
================================================== */
.blog-page .header,
.blog-post-page .header {
  color: black;
}

/* #Price Banner
================================================== */
.price-banner {
  position: relative;
}

.price-banner .container {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.price-banner .container picture,
.price-banner .container img {
  width: 34.27vw;
  margin-bottom: 1.3vw;
}

.price-banner .bg picture,
.price-banner .bg img {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .price-banner .container {
    top: 50%;
  }
  
  .price-banner .container picture,
  .price-banner .container img {
    width: 47.46vw;
    margin-bottom: 5.33vw;
  }
}

/* #Price Contact
================================================== */
.price-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top right, #03FDC5, #52D8E4);
  padding: 1.95vw 0;
}

.price-contact p {
  margin-left: 2vw;
}

@media (max-width: 1023.98px) {
  .price-contact {
    flex-direction: column;
    text-align: center;
    padding: 8vw 0;
  }
  
  .price-contact p {
    margin-left: 0;
    margin-bottom: 4vw;
    line-height: 1;
  }

  .price-contact p,
  .price-contact a {
    width: 53%;
  }
}

/* #Price Extras
================================================== */
.price-extras {
  background-color: #F1F4F5;
  background-image: url('../img/price/extras-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  padding: 6.9vw 0 5.7vw 0;
}

.price-extras .container {
  width: 84%;
}

.price-extras .heading {
  margin-bottom: 3.125vw;
  text-align: center;
}

.price-extras .heading picture,
.price-extras .heading img {
  width: 23.28vw;
  margin: 0 auto .75vw auto;
}

.price-extras .swiper {
  margin: 0 -1.5vw;
}

.price-extras .swiper-slide {
  padding: 0 1.5vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.price-extras .swiper-slide img {
  width: 100%;
  margin-bottom: 2vw;
}

.price-extras .swiper-slide .text {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.price-extras .extras-price {
  margin-top: auto;
  border-bottom: 2px solid black;
  margin-bottom: 1.5vw;
  padding-bottom: .5vw;
}

/* Capabilities Page */
.capabilities-page .price-extras {
  background-image: none;
}

.capabilities-page .price-extras .extras-price {
  margin-bottom: 0;
  padding-bottom: 2.6vw;
  margin-top: 0;
}

@media (max-width: 1023.98px) {
  .price-extras {
    padding: 17.33vw 0 13.33vw 0;
  }
  
  .price-extras .container {
    width: 81.33%;
  }
  
  .price-extras .heading {
    margin-bottom: 9.33vw;
  }
  
  .price-extras .heading picture,
  .price-extras .heading img {
    width: 60vw;
    margin: 0 auto 2vw auto;
  }
  
  .price-extras .swiper {
    margin: 0;
    padding-bottom: 10vw;
  }
  
  .price-extras .swiper-slide {
    padding: 0;
  }
  
  .price-extras .swiper-slide img {
    margin-bottom: 6.66vw;
  }
  
  .price-extras .extras-price {
    margin-bottom: 4vw;
    padding-bottom: 1vw;
  }

  .price-extras .swiper-pagination {
    bottom: 0;
  }

  .price-extras .swiper-pagination-bullet-active {
    background: #0BFAC8;
  }

  /* Capabilities Page */
  .capabilities-page .price-extras .extras-price {
    margin-bottom: 0;
    padding-bottom: 8.93vw;
    margin-top: 4.66vw;
  }

  .capabilities-page .price-extras .swiper-slide .text {
    text-align: right;
  }
}

/* #Price Desktop
================================================== */
.price-desktop {
  display: block;
  background-color: #F1F4F5;
}

.price-desktop .container {
  width: 78%;
  margin-top: -8.05vw;
  position: relative;
  z-index: 1;
}

/* Package Headers */
.price-desktop .package-headers .packages {
  display: flex;
}

.price-desktop .package-headers .packages > * {
  flex: 0 0 20%;
}

.price-desktop .package-headers .package {
  background-color: white;
}

.price-desktop .package-headers .package:not(:last-child) {
  border-left: 1px solid #E5E5E5;
}

/* Top */
.price-desktop .package-top {
  text-align: center;
  padding: .5vw 0;
}

.price-desktop .package-top p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-desktop .package-top img {
  width: 1.25vw;
  margin-right: .5vw;
}

/* Name */
.price-desktop .package-name {
  text-align: center;
  line-height: 1;
  padding: 1.3vw 0;
  position: relative;
}

.price-desktop .package-name.bg-green {
  background-image: linear-gradient(to top right, #03FDC5, #52D8E4);
}

.price-desktop .package-name.bg-purple {
  color: white;
  background-color: #870AA1;
}

.price-desktop .package-name .label {
  color: black;
  background-color: white;
  border-radius: 500px;
  padding: .25vw 1vw;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .16);
}

/* Price */
.price-desktop .package-price {
  text-align: center;
  line-height: 1.1;
  padding: 1.3vw 0 2.34vw 0;
  min-height: 9.2vw;
}

.price-desktop .package-price .text-red {
  margin-bottom: .25vw;
}

/* Btns */
.price-desktop .package-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price-desktop .package-btns .btn {
  width: 11.45vw;
  padding: 0;
}

.price-desktop .package-btns .btn:first-child {
  margin-bottom: 1vw;
}

/* Features */
.price-desktop .package-features {
  padding: 2vw 0;
  width: 11.45vw;
  margin: 0 auto;
  line-height: 1;
}

.price-desktop .package-features li {
  display: flex;
  align-items: center;
}

.price-desktop .package-features li:not(:last-child) {
  margin-bottom: 1vw;
}

.price-desktop .package-features img {
  width: .75vw;
  margin-left: .6vw;
}

/* Accordions */
.price-desktop .package-accordions {
  padding-top: 3.125vw;
}

.price-desktop .package-accordions .collapsible:not(:last-child):not(.show) {
  border-bottom: 1px solid #E5E5E5;
}

.price-desktop .package-accordions .collapse-toggler,
.price-desktop .package-accordions .plus > div,
.price-desktop .package-accordions .minus > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-desktop .package-accordions .collapse-toggler {
  padding: 1vw 0;
}

.price-desktop .package-accordions .simbol img {
  width: 1.3vw;
  margin-right: .75vw;
}

.price-desktop .package-accordions .collapse > div {
  padding-bottom: 3.125vw;
}

.price-desktop .package-row {
  display: flex;
}

.price-desktop .package-row:not(:last-child) {
  border-bottom: 1px solid #E5E5E5;
}

.price-desktop .package-row > * {
  flex: 0 0 20%;
  padding: .9vw 0;
}

.price-desktop .package-option {
  line-height: 1;
}

.price-desktop .package-value {
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-desktop .package-value:not(:last-child) {
  border-left: 1px solid #E5E5E5;
}

@media (max-width: 1023.98px) {
  .price-desktop {
    display: none;
  }
}

/* #Price Mobile
================================================== */
.price-mobile {
  display: none;
  background-color: #F1F4F5;
}

.price-mobile .container {
  width: 90%;
  margin-top: -19.33vw;
  z-index: 1;
  position: relative;
}

.price-mobile .package {
  background-color: white;
}

.price-mobile .package:not(:last-child) {
  margin-bottom: 6.66vw;
}

/* Top */
.price-mobile .package-top {
  text-align: center;
  padding: 2vw 0;
}

.price-mobile .package-top p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-mobile .package-top img {
  width: 5.6vw;
  margin-right: 2vw;
}

/* Name */
.price-mobile .package-name {
  text-align: center;
  line-height: 1;
  padding: 4vw 0 6vw 0;
  position: relative;
}

.price-mobile .package-name.bg-green {
  background-image: linear-gradient(to top right, #03FDC5, #52D8E4);
}

.price-mobile .package-name.bg-purple {
  color: white;
  background-color: #870AA1;
}

.price-mobile .package-name .label {
  color: black;
  background-color: white;
  border-radius: 500px;
  padding: 1vw 4vw;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .16);
}

/* Price */
.price-mobile .package-price {
  text-align: center;
  line-height: 1.1;
  padding: 3.33vw 0 8vw 0;
}

.price-mobile .package-price .text-red {
  margin-bottom: 1.5vw;
}

/* Btns */
.price-mobile .package-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price-mobile .package-btns .btn {
  width: 66.666vw;
}

.price-mobile .package-btns .btn:first-child {
  margin-bottom: 3.6vw;
}

/* Features */
.price-mobile .package-features {
  padding: 9.33vw 0;
  width: 66.666vw;
  margin: 0 auto;
}

.price-mobile .package-features li {
  display: flex;
  align-items: center;
}

.price-mobile .package-features li:not(:last-child) {
  margin-bottom: 4.66vw;
}

.price-mobile .package-features img {
  width: 3.46vw;
  margin-left: 3.46vw;
}

/* Collapse Toggler Primary */
.price-mobile .collapse-toggler-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6.4vw 0;
}

.price-mobile .collapse-toggler-primary > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #0BFAC8;
}

.price-mobile .collapse-toggler-primary img {
  width: 2.75vw;
  margin-right: 2vw;
}

/* Collapsible */
.price-mobile .accordion {
  border-top: 1px solid #E5E5E5;
}

.price-mobile .collapsible .collapsible .collapse-toggler,
.price-mobile .collapsible .collapsible .collapse li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-mobile .collapsible .collapsible,
.price-mobile .collapsible .collapsible .collapse li:not(:last-child) {
  border-bottom: 1px solid #E5E5E5;
}

.price-mobile .collapsible .collapsible .collapse-toggler {
  padding: 3.85vw 5.33vw;
}

.price-mobile .collapsible .collapsible .collapse li {
  padding: 4vw 5.33vw;
}

@media (max-width: 1023.98px) {
  .price-mobile {
    display: block;
  }
}

/* #Price Sticky Desktop
================================================== */
.price-sticky-desktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 11000; 
  display: flex;
  height: 5.7vw;
  transform: translateY(-100%);
  transition: all .6s ease;
}

.price-sticky-desktop.show {
  transform: translateY(0);
}

.price-sticky-desktop a {
  width: 26.33vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #0BE6B8;
}

.price-sticky-desktop ul {
  display: flex;
}

.price-sticky-desktop ul li {
  flex: 0 0 15.47vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  line-height: 1;
}

.price-sticky-desktop ul li:not(:last-child) {
  border-left: 1px solid #E5E5E5;
}

@media (max-width: 1023.98px) {
  .price-sticky-desktop {
    display: none!important;
  }
}

/* #Capabilities Business
================================================== */
.capabilities-business {
  background-color: #F1F4F5;
  background-image: url('../img/capabilities/business-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  padding-bottom: 6.77vw;
  padding-top: 2vw;
}

.capabilities-business .container {
  width: 70%;
}

.capabilities-business .heading {
  margin: 0 auto;
  margin-bottom: 2.6vw;
  width: 31.51vw;
  text-align: center;
}

.capabilities-business .body ul {
  display: flex;
  flex-wrap: wrap;
  margin: -1.17vw -1.5vw;
}

.capabilities-business .body ul li {
  flex: 0 0 33.333333%;
  padding: 1.17vw 1.5vw;
}

.capabilities-business .body img {
  height: 2.3vw;
  margin-bottom: 1vw;
}

.capabilities-business .body h3 {
  margin-bottom: .15vw;
}

@media (max-width: 1023.98px) {
  .capabilities-business {
    background-image: url('../img/capabilities/business-bg-mobile.png');
    background-size: contain;
    background-position: center center;
    overflow: hidden;
    padding-bottom: 10vw;
    padding-top: 5vw;
  }
  
  .capabilities-business .container {
    width: 90%;
  }
  
  .capabilities-business .heading {
    margin-bottom: 10vw;
    width: 100%;
  }
  
  .capabilities-business .body ul {
    margin: -5vw -6vw;
  }
  
  .capabilities-business .body ul li {
    flex: 0 0 50%;
    text-align: center;
    padding: 5vw 6vw;
    display: flex;
    flex-direction: column;
  }
  
  .capabilities-business .body img {
    height: 9.6vw;
    margin-bottom: 4vw;
  }
  
  .capabilities-business .body h3 {
    margin-bottom: .15vw;
  }
}

/* #Media Boxes
================================================== */
.media-boxes {
  background-color: #F1F4F5;
  background-image: url('../img/capabilities/media-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  padding: 5.88vw 0 2vw 0;
}

.media-boxes .container {
  width: 77%;
}

.media-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.media-box:not(:last-child) {
  margin-bottom: 5.2vw;
}

.media-box:nth-child(even) {
  flex-direction: row-reverse;
}

.media-box .img,
.media-box .text {
  flex: 0 0 33.85vw;
}

.media-box .img img {
  width: 100%;
}

.media-box .text {
  padding: 0 3.9vw;
}

.media-box .text h2 {
  margin-bottom: .5vw;
}

@media (max-width: 1023.98px) {
  .media-boxes {
    background-image: url('../img/capabilities/media-bg-mobile.png');
    padding: 21.33vw 0 3.33vw 0;
  }
  
  .media-boxes .container {
    width: 90%;
  }
  
  .media-box {
    display: block;
  }
  
  .media-box:not(:last-child) {
    margin-bottom: 18.66vw;
  }
  
  .media-box .img,
  .media-box .text {
    width: 100%;
  }
  
  .media-box .text {
    padding: 0;
    text-align: center;
    margin-bottom: 6.66vw;
  }
  
  .media-box .text h2 {
    margin-bottom: .5vw;
  }
}